*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.welcome-screen {
    background-color: #1F2A36;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px
}
.main-div span{
    font-size: 50px;
    font-weight: 600;
    color: #1A98FF;
}
.explore-btn{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #1A98FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}