
.Hire-left img{
 height: 80vh;
}
.hire-top{
    display: flex;

}
.Hire-right{
     background-image:
                linear-gradient(45deg, rgb(38, 37, 38), rgba(0, 0, 0, 0.482));
    border-radius: 5%;
    padding: 40px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
}
.HireMe-container{
    height: 90vh;
    padding: 100px;
    gap: 50px;
    display:flex ;
}