
.Hire-left img{
 height: 78vh;
}


.Hire-right{
     background-image:
                linear-gradient(45deg, rgb(38, 37, 38), rgba(0, 0, 0, 0.482));
    border-radius: 5%;
    padding: 40px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
}
.HireMe-container{
    padding-left: 90px;
    margin: 70px;
    gap: 50px;
    display:flex ;
}
@media (max-width: 768px) {
    .HireMe-container {
        flex-direction: column;
        padding-left: 20px;
        margin: 20px;
        gap: 20px;
    }
    
    .Hire-left img {
        height: auto;
               margin-left: 114px;
        width: 36%;
    }
    
    .Hire-right {
        width: 100%;
        height: auto;
        padding: 20px;
    }
    h3{
text-align: center;}
   }