.Skills-container{
    display: flex;
    height: 100vh;

    align-items: center;
}

.Skills-bottom{
    width: 100vw;
    height: 78vh;
        margin: 165px;
    padding:40px;
    border-radius: 20px;
    background: burlywood;
}