.card{
   flex: 0 0 auto;
    max-height: 310px;
    max-width: 300px;
    position: relative;
    transition: transform .3s ease;
}

.card :hover{
    cursor: pointer;
}

.card img {
    width: 280px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: -6px 10px 20px rgba(0, 0, 0, 0.45);
    transition: 0.3s ease;
}

.card img:hover {
    box-shadow:0px 10px 14px rgba(225, 16, 16, 0.45);
    transform: scale(1.02);
}

.picks{
    display: flex;
    overflow-x: auto;
    gap: 25px;
 
    scrollbar-width: none;
} 
.center-text {
  position: absolute;
  top: 40%; 
  left: 50%;     
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: 700;
}