.Todayspicks{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: self-start;  
  
}
.todayPickListSection{
  width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}

